$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);


body {
    font-family: 'Epilogue', sans-serif;
    background-color: $almost-white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    width: 100%;
    min-width: 23rem;
}

/*      HEADER/NAV STYLES       */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1rem;

    .main-nav-close {
        display: none;
    }

    .sub-nav-close {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 13rem;
        padding-top: 1rem;
        top: 0;
        right: 1rem;
        background-color: $almost-white;


        .menu-opened {
            margin-left: auto;
            margin-bottom: 1rem;
        }

        .link {
            text-decoration: none;
            border: none;
            background-color: $almost-white;  
            color: $medium-gray;
            font-size: 1rem; 
            margin: 1rem;
            padding: 0;
            font-family: 'Epilogue', sans-serif;

            .arrow-down {
                margin-left: .5rem;
                margin-bottom: .1rem;
                transform: rotate(0deg);
                transition: transform 500ms linear;
            }

            .arrow-up {
                transform: rotate(180deg);
            }
            
            &:hover {
                color: $almost-black;
                cursor: pointer;
            }
        }

        
        .dropdown-list {
            padding-left: 0;
        }

        .dropdown-list-item {
            list-style: none;
            margin: 1rem 1.75rem;

            img {
                margin-right: .5rem;
            }
        }

        .main-links {
            display: flex;
            flex-direction: column;
        }


        .account-links {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 3rem;
        }
    }
}


/*      MAIN STYLES       */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .banner {

        #banner-desktop {
            display: none;
        }
    
        #banner-mobile {
            width: 100%;
            max-width: 44rem; 
            height: auto;
        }
    }
    
    .desc {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin: 2.5rem 0 0 0;
        }

        p {
            color: $medium-gray;
            font-size: 1.1rem;
            line-height: 1.75rem;
            padding: .25rem;
        }

        #learn-more-btn {
            background-color: $almost-black;
            border: 1px solid $almost-black;
            color: $almost-white;
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 700;
            width: 9rem;
            padding: 1rem 0;
            border-radius: .75rem;
            display: block;
            margin-top: 1rem;
            margin-bottom: 3rem;
        }

        .sites {
            height: 2rem;
            width: 100%;
                
            img {
                height: 1.15rem;
                margin: 0 .42rem;

                &:nth-of-type(2) {
                    height: 1.75rem;
                }
            }
        }
    }

}








.attribution { 
    font-size: 11px; text-align: center;
    margin-top: 4rem;
     
    a { 
        color: hsl(228, 45%, 44%); 
    }
}



/*      RESPONSIVE STYLES       */



@media only screen and (min-width: 1440px) {
    .container {
        width: 100%;
    }


    /*      HEADER/NAV STYLES       */

    header {
        height: 4rem;
        justify-content: left;
        align-items: center;

        .logo {
            width: 10%;
        }
    
        .menu-closed, .menu-opened {
            display: none;
        }

        .main-nav-close {
            display: flex;
        }

        nav {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            width: 90%;

            .link {
                align-self: center;

                .arrow-down {
                    margin-left: .25rem;
                }
            }

            .sub-nav-close {
                display: block;
            }

            .main-links {
                flex-direction: row;

                .dropdown {
                    position: relative;
                }

                #features-dropdown{
                    width: 9rem;
                    left: -3.25rem;
                }

                #company-dropdown {
                    width: 6.75rem;
                    left: 1.25rem;
                }
    
                .dropdown-menu {
                    position: absolute;
                    top: calc(100% + .25rem);
                    border-radius: .75rem;
                    box-shadow: 0 0 20px  rgba(0, 0, 0, .25);
                    background-color: $almost-white;
                    padding: .75rem;

                    opacity: 0;
                    pointer-events: none;
                    transform: translateY(-.75rem);
                    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;


                    .dropdown-list {
                        padding-left: 0;
                    }
            
                    .dropdown-list-item {
                        list-style: none;
                        margin: 1rem 0rem;
            
                        img {
                            margin-right: .5rem;
                        }
                    }

                }

                .dropdown > .link:focus + .dropdown-menu {
                    opacity: 1;
                    transform: translateY(0);
                    pointer-events: auto;
                }
            }


            .account-links {
                flex-direction: row;
                margin-top: 0;

                a {
                    &:nth-of-type(2) {
                        background-color: $almost-black;
                        color: $almost-white;
                        border: 1px solid $almost-black;
                        border-radius: .75rem;
                        padding: .75rem 1rem;;
    
                        &:hover {
                            background-color: $almost-white;
                            color: $almost-black;
                        }
                    }
                }
            }
        }
    }

    /*      MAIN STYLES       */


    main {
        flex-direction: row-reverse;
        text-align: left;
        height: 45rem;
        padding: 2rem;
    
        .banner {
            width: 50%;
            height: 100%;

            #banner-mobile {
                display: none;
            }
        
            #banner-desktop {
                display: block;
                height: 100%;
            }
        }
        
        .desc {
            width: 50%;
            height: 100%;
            justify-content: flex-end;
            align-items: flex-start;
    
            h1 {
                margin: 2.5rem 0;
                font-size: 5rem;

                span {
                    display: block
                }
            }
    
            p {
                width: 70%;
                font-size: 1.2rem;
                margin-bottom: 3rem;
            }
    
            #learn-more-btn {
                text-align: center;
                margin-bottom: 8rem;

                &:hover {
                    background-color: $almost-white;
                    color: $almost-black;
                }
            }
    
            .sites {
                height: 2rem;
                width: 70%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                    
                img {
                    height: 1.25rem;
                    margin: 0;
    
                    &:nth-of-type(2) {
                        height: 2.25rem;
                    }
                }
            }
        }

    }

}





